In [1]:
#### Dependencies
import os
import urllib
from urllib.request import urlopen
import json
import csv
import simplejson
import pandas as pd
import pytest
import base64
import sys
import glob
import time
import progressbar

bar = progressbar.ProgressBar()
for i in bar(range(100)):
    time.sleep(0.02)
    
if sys.version_info[0] < 3: 
    from StringIO import StringIO
else:
    from io import StringIO
from bs4 import BeautifulSoup
import requests
from pprint import pprint
from datetime import datetime
from ohmysportsfeedspy.v1_0 import API_v1_0
from ohmysportsfeedspy.v1_1 import API_v1_1
from ohmysportsfeedspy.v1_2 import API_v1_2
from ohmysportsfeedspy import MySportsFeeds
msf = MySportsFeeds(version="1.2")

100% (100 of 100) |#######################| Elapsed Time: 0:00:02 Time: 0:00:02

In [2]:
#Web Scrapping
quote_page = "https://www.pro-football-reference.com/super-bowl/"

#Query the website to get HTML page of the url
html_page = urlopen(quote_page)
html_page
#Parse the html using beautiful soup and store in a variable
sb_parser = BeautifulSoup(html_page, "html.parser")
superbowl_id = sb_parser.find(id = "all_super_bowls")
super_bowl_scores = superbowl_id.text.strip() # strip() is used to remove starting and trailing
# super_bowl_scores.to_json("Super_Bowl_Scores")
super_bowl_dumps = json.dumps(super_bowl_scores)
super_bowl_json = json.loads(super_bowl_dumps)
super_bowl_json.replace("\n", " ")
# super_bowl_json.to_json("Super_Bowl_Scores")
# print(super_bowl_json)
sb_DF = StringIO(super_bowl_json)
super_bowl_DF = sb_DF.writable()
#Using Pandas to webscrape
html_df, = pd.read_html(quote_page)
#Store as JSON and CSV
superbowl_DF = html_df.to_csv("Super_Bowl_Scores.csv", sep=",")

In [3]:
# Open CSV

sb_output = "Super_Bowl_Scores.csv"
# sb_open = open(sb_output, "r")
# sb_open_csv = sb_open.read()
# sb_open_csv
sb_open = pd.read_csv(sb_output)
new_col = ["Date", "Winner", "Pts", "Loser", "Pts.1", "MVP", "Stadium", "City", "State"]
del sb_open ["Unnamed: 0"]
sb_open.head()
# sb_open.set_index("SB")
# sb_csv_print = json.loads(sb_open_csv)
# sb_csv_print

,Date,SB,Winner,Pts,Loser,Pts.1,MVP,Stadium,City,State
0,"Feb 4, 2018",LII (52),Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis,Minnesota
1,"Feb 5, 2017",LI (51),New England Patriots,34,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas
2,"Feb 7, 2016",50,Denver Broncos,24,Carolina Panthers,10,Von Miller,Levi's Stadium,Santa Clara,California
3,"Feb 1, 2015",XLIX (49),New England Patriots,28,Seattle Seahawks,24,Tom Brady,University of Phoenix Stadium,Glendale,Arizona
4,"Feb 2, 2014",XLVIII (48),Seattle Seahawks,43,Denver Broncos,8,Malcolm Smith,MetLife Stadium,East Rutherford,New Jersey

In [4]:
#Open JSON
sb_output = "Super_Bowl_Scores.json"
sb_open = open(sb_output, "r")
sb_open_json = sb_open.read()
sb_json_print = json.loads(sb_open_json)
pprint(sb_json_print)
sb_date_pretty = sb_json_print["Date"]
# pprint(sb_date_pretty.keys())
#Came out much worse than pprint
# e = json.dumps(d, separators=(" ", ":"), sort_keys=True)
# e.replace(":", " ")
# # e.replace("\n", " ")

{'City': {'0': 'Minneapolis',
          '1': 'Houston',
          '10': 'Glendale',
          '11': 'Miami Gardens',
          '12': 'Detroit',
          '13': 'Jacksonville',
          '14': 'Houston',
          '15': 'San Diego',
          '16': 'New Orleans',
          '17': 'Tampa',
          '18': 'Atlanta',
          '19': 'Miami Gardens',
          '2': 'Santa Clara',
          '20': 'San Diego',
          '21': 'New Orleans',
          '22': 'Tempe',
          '23': 'Miami Gardens',
          '24': 'Atlanta',
          '25': 'Pasadena',
          '26': 'Minneapolis',
          '27': 'Tampa',
          '28': 'New Orleans',
          '29': 'Miami Gardens',
          '3': 'Glendale',
          '30': 'San Diego',
          '31': 'Pasadena',
          '32': 'New Orleans',
          '33': 'Palo Alto',
          '34': 'Tampa',
          '35': 'Pasadena',
          '36': 'Pontiac',
          '37': 'New Orleans',
          '38': 'Pasadena',
          '39': 'Miami',
          '4': 'East Rutherford',
          '40': 'New Orleans',
          '41': 'Pasadena',
          '42': 'Miami',
          '43': 'New Orleans',
          '44': 'Houston',
          '45': 'Los Angeles',
          '46': 'New Orleans',
          '47': 'Miami',
          '48': 'New Orleans',
          '49': 'Miami',
          '5': 'New Orleans',
          '50': 'Miami',
          '51': 'Los Angeles',
          '6': 'Indianapolis',
          '7': 'Arlington',
          '8': 'Miami Gardens',
          '9': 'Tampa'},
 'Date': {'0': 'Feb 4, 2018',
          '1': 'Feb 5, 2017',
          '10': 'Feb 3, 2008',
          '11': 'Feb 4, 2007',
          '12': 'Feb 5, 2006',
          '13': 'Feb 6, 2005',
          '14': 'Feb 1, 2004',
          '15': 'Jan 26, 2003',
          '16': 'Feb 3, 2002',
          '17': 'Jan 28, 2001',
          '18': 'Jan 30, 2000',
          '19': 'Jan 31, 1999',
          '2': 'Feb 7, 2016',
          '20': 'Jan 25, 1998',
          '21': 'Jan 26, 1997',
          '22': 'Jan 28, 1996',
          '23': 'Jan 29, 1995',
          '24': 'Jan 30, 1994',
          '25': 'Jan 31, 1993',
          '26': 'Jan 26, 1992',
          '27': 'Jan 27, 1991',
          '28': 'Jan 28, 1990',
          '29': 'Jan 22, 1989',
          '3': 'Feb 1, 2015',
          '30': 'Jan 31, 1988',
          '31': 'Jan 25, 1987',
          '32': 'Jan 26, 1986',
          '33': 'Jan 20, 1985',
          '34': 'Jan 22, 1984',
          '35': 'Jan 30, 1983',
          '36': 'Jan 24, 1982',
          '37': 'Jan 25, 1981',
          '38': 'Jan 20, 1980',
          '39': 'Jan 21, 1979',
          '4': 'Feb 2, 2014',
          '40': 'Jan 15, 1978',
          '41': 'Jan 9, 1977',
          '42': 'Jan 18, 1976',
          '43': 'Jan 12, 1975',
          '44': 'Jan 13, 1974',
          '45': 'Jan 14, 1973',
          '46': 'Jan 16, 1972',
          '47': 'Jan 17, 1971',
          '48': 'Jan 11, 1970',
          '49': 'Jan 12, 1969',
          '5': 'Feb 3, 2013',
          '50': 'Jan 14, 1968',
          '51': 'Jan 15, 1967',
          '6': 'Feb 5, 2012',
          '7': 'Feb 6, 2011',
          '8': 'Feb 7, 2010',
          '9': 'Feb 1, 2009'},
 'Loser': {'0': 'New England Patriots',
           '1': 'Atlanta Falcons',
           '10': 'New England Patriots',
           '11': 'Chicago Bears',
           '12': 'Seattle Seahawks',
           '13': 'Philadelphia Eagles',
           '14': 'Carolina Panthers',
           '15': 'Oakland Raiders',
           '16': 'St. Louis Rams',
           '17': 'New York Giants',
           '18': 'Tennessee Titans',
           '19': 'Atlanta Falcons',
           '2': 'Carolina Panthers',
           '20': 'Green Bay Packers',
           '21': 'New England Patriots',
           '22': 'Pittsburgh Steelers',
           '23': 'San Diego Chargers',
           '24': 'Buffalo Bills',
           '25': 'Buffalo Bills',
           '26': 'Buffalo Bills',
           '27': 'Buffalo Bills',
           '28': 'Denver Broncos',
           '29': 'Cincinnati Bengals',
           '3': 'Seattle Seahawks',
           '30': 'Denver Broncos',
           '31': 'Denver Broncos',
           '32': 'New England Patriots',
           '33': 'Miami Dolphins',
           '34': 'Washington Redskins',
           '35': 'Miami Dolphins',
           '36': 'Cincinnati Bengals',
           '37': 'Philadelphia Eagles',
           '38': 'Los Angeles Rams',
           '39': 'Dallas Cowboys',
           '4': 'Denver Broncos',
           '40': 'Denver Broncos',
           '41': 'Minnesota Vikings',
           '42': 'Dallas Cowboys',
           '43': 'Minnesota Vikings',
           '44': 'Minnesota Vikings',
           '45': 'Washington Redskins',
           '46': 'Miami Dolphins',
           '47': 'Dallas Cowboys',
           '48': 'Minnesota Vikings',
           '49': 'Baltimore Colts',
           '5': 'San Francisco 49ers',
           '50': 'Oakland Raiders',
           '51': 'Kansas City Chiefs',
           '6': 'New England Patriots',
           '7': 'Pittsburgh Steelers',
           '8': 'Indianapolis Colts',
           '9': 'Arizona Cardinals'},
 'MVP': {'0': 'Nick Foles',
         '1': 'Tom Brady',
         '10': 'Eli Manning',
         '11': 'Peyton Manning',
         '12': 'Hines Ward',
         '13': 'Deion Branch',
         '14': 'Tom Brady',
         '15': 'Dexter Jackson',
         '16': 'Tom Brady',
         '17': 'Ray Lewis+',
         '18': 'Kurt Warner+',
         '19': 'John Elway+',
         '2': 'Von Miller',
         '20': 'Terrell Davis+',
         '21': 'Desmond Howard',
         '22': 'Larry Brown',
         '23': 'Steve Young+',
         '24': 'Emmitt Smith+',
         '25': 'Troy Aikman+',
         '26': 'Mark Rypien',
         '27': 'Ottis Anderson',
         '28': 'Joe Montana+',
         '29': 'Jerry Rice+',
         '3': 'Tom Brady',
         '30': 'Doug Williams',
         '31': 'Phil Simms',
         '32': 'Richard Dent+',
         '33': 'Joe Montana+',
         '34': 'Marcus Allen+',
         '35': 'John Riggins+',
         '36': 'Joe Montana+',
         '37': 'Jim Plunkett',
         '38': 'Terry Bradshaw+',
         '39': 'Terry Bradshaw+',
         '4': 'Malcolm Smith',
         '40': 'Harvey MartinRandy White+',
         '41': 'Fred Biletnikoff+',
         '42': 'Lynn Swann+',
         '43': 'Franco Harris+',
         '44': 'Larry Csonka+',
         '45': 'Jake Scott',
         '46': 'Roger Staubach+',
         '47': 'Chuck Howley',
         '48': 'Len Dawson+',
         '49': 'Joe Namath+',
         '5': 'Joe Flacco',
         '50': 'Bart Starr+',
         '51': 'Bart Starr+',
         '6': 'Eli Manning',
         '7': 'Aaron Rodgers',
         '8': 'Drew Brees',
         '9': 'Santonio Holmes'},
 'Pts': {'0': 41,
         '1': 34,
         '10': 17,
         '11': 29,
         '12': 21,
         '13': 24,
         '14': 32,
         '15': 48,
         '16': 20,
         '17': 34,
         '18': 23,
         '19': 34,
         '2': 24,
         '20': 31,
         '21': 35,
         '22': 27,
         '23': 49,
         '24': 30,
         '25': 52,
         '26': 37,
         '27': 20,
         '28': 55,
         '29': 20,
         '3': 28,
         '30': 42,
         '31': 39,
         '32': 46,
         '33': 38,
         '34': 38,
         '35': 27,
         '36': 26,
         '37': 27,
         '38': 31,
         '39': 35,
         '4': 43,
         '40': 27,
         '41': 32,
         '42': 21,
         '43': 16,
         '44': 24,
         '45': 14,
         '46': 24,
         '47': 16,
         '48': 23,
         '49': 16,
         '5': 34,
         '50': 33,
         '51': 35,
         '6': 21,
         '7': 31,
         '8': 31,
         '9': 27},
 'Pts.1': {'0': 33,
           '1': 28,
           '10': 14,
           '11': 17,
           '12': 10,
           '13': 21,
           '14': 29,
           '15': 21,
           '16': 17,
           '17': 7,
           '18': 16,
           '19': 19,
           '2': 10,
           '20': 24,
           '21': 21,
           '22': 17,
           '23': 26,
           '24': 13,
           '25': 17,
           '26': 24,
           '27': 19,
           '28': 10,
           '29': 16,
           '3': 24,
           '30': 10,
           '31': 20,
           '32': 10,
           '33': 16,
           '34': 9,
           '35': 17,
           '36': 21,
           '37': 10,
           '38': 19,
           '39': 31,
           '4': 8,
           '40': 10,
           '41': 14,
           '42': 17,
           '43': 6,
           '44': 7,
           '45': 7,
           '46': 3,
           '47': 13,
           '48': 7,
           '49': 7,
           '5': 31,
           '50': 14,
           '51': 10,
           '6': 17,
           '7': 25,
           '8': 17,
           '9': 23},
 'SB': {'0': 'LII (52)',
        '1': 'LI (51)',
        '10': 'XLII (42)',
        '11': 'XLI (41)',
        '12': 'XL (40)',
        '13': 'XXXIX (39)',
        '14': 'XXXVIII (38)',
        '15': 'XXXVII (37)',
        '16': 'XXXVI (36)',
        '17': 'XXXV (35)',
        '18': 'XXXIV (34)',
        '19': 'XXXIII (33)',
        '2': '50',
        '20': 'XXXII (32)',
        '21': 'XXXI (31)',
        '22': 'XXX (30)',
        '23': 'XXIX (29)',
        '24': 'XXVIII (28)',
        '25': 'XXVII (27)',
        '26': 'XXVI (26)',
        '27': 'XXV (25)',
        '28': 'XXIV (24)',
        '29': 'XXIII (23)',
        '3': 'XLIX (49)',
        '30': 'XXII (22)',
        '31': 'XXI (21)',
        '32': 'XX (20)',
        '33': 'XIX (19)',
        '34': 'XVIII (18)',
        '35': 'XVII (17)',
        '36': 'XVI (16)',
        '37': 'XV (15)',
        '38': 'XIV (14)',
        '39': 'XIII (13)',
        '4': 'XLVIII (48)',
        '40': 'XII (12)',
        '41': 'XI (11)',
        '42': 'X (10)',
        '43': 'IX (9)',
        '44': 'VIII (8)',
        '45': 'VII (7)',
        '46': 'VI (6)',
        '47': 'V (5)',
        '48': 'IV (4)',
        '49': 'III (3)',
        '5': 'XLVII (47)',
        '50': 'II (2)',
        '51': 'I (1)',
        '6': 'XLVI (46)',
        '7': 'XLV (45)',
        '8': 'XLIV (44)',
        '9': 'XLIII (43)'},
 'Stadium': {'0': 'U.S. Bank Stadium',
             '1': 'NRG Stadium',
             '10': 'University of Phoenix Stadium',
             '11': 'Dolphin Stadium',
             '12': 'Ford Field',
             '13': 'Alltel Stadium',
             '14': 'Reliant Stadium',
             '15': 'Qualcomm Stadium',
             '16': 'Louisiana Superdome',
             '17': 'Raymond James Stadium',
             '18': 'Georgia Dome',
             '19': 'Pro Player Stadium',
             '2': "Levi's Stadium",
             '20': 'Qualcomm Stadium',
             '21': 'Louisiana Superdome',
             '22': 'Sun Devil Stadium',
             '23': 'Joe Robbie Stadium',
             '24': 'Georgia Dome',
             '25': 'Rose Bowl',
             '26': 'Metrodome',
             '27': 'Tampa Stadium',
             '28': 'Louisiana Superdome',
             '29': 'Joe Robbie Stadium',
             '3': 'University of Phoenix Stadium',
             '30': 'Jack Murphy Stadium',
             '31': 'Rose Bowl',
             '32': 'Louisiana Superdome',
             '33': 'Stanford Stadium',
             '34': 'Tampa Stadium',
             '35': 'Rose Bowl',
             '36': 'Pontiac Silverdome',
             '37': 'Louisiana Superdome',
             '38': 'Rose Bowl',
             '39': 'Orange Bowl',
             '4': 'MetLife Stadium',
             '40': 'Superdome',
             '41': 'Rose Bowl',
             '42': 'Orange Bowl',
             '43': 'Tulane Stadium',
             '44': 'Rice Stadium',
             '45': 'Memorial Coliseum',
             '46': 'Tulane Stadium',
             '47': 'Orange Bowl',
             '48': 'Tulane Stadium',
             '49': 'Orange Bowl',
             '5': 'Mercedes-Benz Superdome',
             '50': 'Orange Bowl',
             '51': 'Memorial Coliseum',
             '6': 'Lucas Oil Stadium',
             '7': 'Cowboys Stadium',
             '8': 'Sun Life Stadium',
             '9': 'Raymond James Stadium'},
 'State': {'0': 'Minnesota',
           '1': 'Texas',
           '10': 'Arizona',
           '11': 'Florida',
           '12': 'Michigan',
           '13': 'Florida',
           '14': 'Texas',
           '15': 'California',
           '16': 'Louisiana',
           '17': 'Florida',
           '18': 'Georgia',
           '19': 'Florida',
           '2': 'California',
           '20': 'California',
           '21': 'Louisiana',
           '22': 'Arizona',
           '23': 'Florida',
           '24': 'Georgia',
           '25': 'California',
           '26': 'Minnesota',
           '27': 'Florida',
           '28': 'Louisiana',
           '29': 'Florida',
           '3': 'Arizona',
           '30': 'California',
           '31': 'California',
           '32': 'Louisiana',
           '33': 'California',
           '34': 'Florida',
           '35': 'California',
           '36': 'Michigan',
           '37': 'Louisiana',
           '38': 'California',
           '39': 'Florida',
           '4': 'New Jersey',
           '40': 'Louisiana',
           '41': 'California',
           '42': 'Florida',
           '43': 'Louisiana',
           '44': 'Texas',
           '45': 'California',
           '46': 'Louisiana',
           '47': 'Florida',
           '48': 'Louisiana',
           '49': 'Florida',
           '5': 'Louisiana',
           '50': 'Florida',
           '51': 'California',
           '6': 'Indiana',
           '7': 'Texas',
           '8': 'Florida',
           '9': 'Florida'},
 'Winner': {'0': 'Philadelphia Eagles',
            '1': 'New England Patriots',
            '10': 'New York Giants',
            '11': 'Indianapolis Colts',
            '12': 'Pittsburgh Steelers',
            '13': 'New England Patriots',
            '14': 'New England Patriots',
            '15': 'Tampa Bay Buccaneers',
            '16': 'New England Patriots',
            '17': 'Baltimore Ravens',
            '18': 'St. Louis Rams',
            '19': 'Denver Broncos',
            '2': 'Denver Broncos',
            '20': 'Denver Broncos',
            '21': 'Green Bay Packers',
            '22': 'Dallas Cowboys',
            '23': 'San Francisco 49ers',
            '24': 'Dallas Cowboys',
            '25': 'Dallas Cowboys',
            '26': 'Washington Redskins',
            '27': 'New York Giants',
            '28': 'San Francisco 49ers',
            '29': 'San Francisco 49ers',
            '3': 'New England Patriots',
            '30': 'Washington Redskins',
            '31': 'New York Giants',
            '32': 'Chicago Bears',
            '33': 'San Francisco 49ers',
            '34': 'Los Angeles Raiders',
            '35': 'Washington Redskins',
            '36': 'San Francisco 49ers',
            '37': 'Oakland Raiders',
            '38': 'Pittsburgh Steelers',
            '39': 'Pittsburgh Steelers',
            '4': 'Seattle Seahawks',
            '40': 'Dallas Cowboys',
            '41': 'Oakland Raiders',
            '42': 'Pittsburgh Steelers',
            '43': 'Pittsburgh Steelers',
            '44': 'Miami Dolphins',
            '45': 'Miami Dolphins',
            '46': 'Dallas Cowboys',
            '47': 'Baltimore Colts',
            '48': 'Kansas City Chiefs',
            '49': 'New York Jets',
            '5': 'Baltimore Ravens',
            '50': 'Green Bay Packers',
            '51': 'Green Bay Packers',
            '6': 'New York Giants',
            '7': 'Green Bay Packers',
            '8': 'New Orleans Saints',
            '9': 'Pittsburgh Steelers'}}

In [313]:
# SB_DF.from_csv("Super_Bowl_Scores.csv")

In [7]:
#SuperBowl DataFrame
sb_dates = []
sb_number = []
sb_mvp = []
sb_winner = []
sb_winPts = []
sb_loser = []
sb_losePts = []
sb_stadium = []
sb_city = []
sb_state = []

for data in sb_json_print:
    sb_dates.append(sb_json_print["Date"])
    sb_number.append(sb_json_print["SB"])
    sb_mvp.append(sb_json_print["MVP"])
    sb_winner.append(sb_json_print["Winner"])
    sb_winPts.append(sb_json_print["Pts"])
    sb_loser.append(sb_json_print["Loser"])
    sb_losePts.append(sb_json_print["Pts.1"])
    sb_stadium.append(sb_json_print["Stadium"])
    sb_city.append(sb_json_print["City"])
    sb_state.append(sb_json_print["State"])
    SB_DF = pd.DataFrame.from_dict(sb_json_print)
SB_DF = SB_DF[["SB", "Date", "Winner", "Pts", "Loser", "Pts.1", "MVP", "Stadium", "City", "State"]]
SB_dataDF = SB_DF.rename(index=str, columns={"Pts": "Winning Score", "Pts.1": "Losing Score"})
SB_dataDF
# sb_date_pretty = sb_json_print["Date"]
# pprint(sb_date_pretty)

,SB,Date,Winner,Winning Score,Loser,Losing Score,MVP,Stadium,City,State
0,LII (52),"Feb 4, 2018",Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis,Minnesota
1,LI (51),"Feb 5, 2017",New England Patriots,34,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas
10,XLII (42),"Feb 3, 2008",New York Giants,17,New England Patriots,14,Eli Manning,University of Phoenix Stadium,Glendale,Arizona
11,XLI (41),"Feb 4, 2007",Indianapolis Colts,29,Chicago Bears,17,Peyton Manning,Dolphin Stadium,Miami Gardens,Florida
12,XL (40),"Feb 5, 2006",Pittsburgh Steelers,21,Seattle Seahawks,10,Hines Ward,Ford Field,Detroit,Michigan
13,XXXIX (39),"Feb 6, 2005",New England Patriots,24,Philadelphia Eagles,21,Deion Branch,Alltel Stadium,Jacksonville,Florida
14,XXXVIII (38),"Feb 1, 2004",New England Patriots,32,Carolina Panthers,29,Tom Brady,Reliant Stadium,Houston,Texas
15,XXXVII (37),"Jan 26, 2003",Tampa Bay Buccaneers,48,Oakland Raiders,21,Dexter Jackson,Qualcomm Stadium,San Diego,California
16,XXXVI (36),"Feb 3, 2002",New England Patriots,20,St. Louis Rams,17,Tom Brady,Louisiana Superdome,New Orleans,Louisiana
17,XXXV (35),"Jan 28, 2001",Baltimore Ravens,34,New York Giants,7,Ray Lewis+,Raymond James Stadium,Tampa,Florida
18,XXXIV (34),"Jan 30, 2000",St. Louis Rams,23,Tennessee Titans,16,Kurt Warner+,Georgia Dome,Atlanta,Georgia
19,XXXIII (33),"Jan 31, 1999",Denver Broncos,34,Atlanta Falcons,19,John Elway+,Pro Player Stadium,Miami Gardens,Florida
2,50,"Feb 7, 2016",Denver Broncos,24,Carolina Panthers,10,Von Miller,Levi's Stadium,Santa Clara,California
20,XXXII (32),"Jan 25, 1998",Denver Broncos,31,Green Bay Packers,24,Terrell Davis+,Qualcomm Stadium,San Diego,California
21,XXXI (31),"Jan 26, 1997",Green Bay Packers,35,New England Patriots,21,Desmond Howard,Louisiana Superdome,New Orleans,Louisiana
22,XXX (30),"Jan 28, 1996",Dallas Cowboys,27,Pittsburgh Steelers,17,Larry Brown,Sun Devil Stadium,Tempe,Arizona
23,XXIX (29),"Jan 29, 1995",San Francisco 49ers,49,San Diego Chargers,26,Steve Young+,Joe Robbie Stadium,Miami Gardens,Florida
24,XXVIII (28),"Jan 30, 1994",Dallas Cowboys,30,Buffalo Bills,13,Emmitt Smith+,Georgia Dome,Atlanta,Georgia
25,XXVII (27),"Jan 31, 1993",Dallas Cowboys,52,Buffalo Bills,17,Troy Aikman+,Rose Bowl,Pasadena,California
26,XXVI (26),"Jan 26, 1992",Washington Redskins,37,Buffalo Bills,24,Mark Rypien,Metrodome,Minneapolis,Minnesota
27,XXV (25),"Jan 27, 1991",New York Giants,20,Buffalo Bills,19,Ottis Anderson,Tampa Stadium,Tampa,Florida
28,XXIV (24),"Jan 28, 1990",San Francisco 49ers,55,Denver Broncos,10,Joe Montana+,Louisiana Superdome,New Orleans,Louisiana
29,XXIII (23),"Jan 22, 1989",San Francisco 49ers,20,Cincinnati Bengals,16,Jerry Rice+,Joe Robbie Stadium,Miami Gardens,Florida
3,XLIX (49),"Feb 1, 2015",New England Patriots,28,Seattle Seahawks,24,Tom Brady,University of Phoenix Stadium,Glendale,Arizona
30,XXII (22),"Jan 31, 1988",Washington Redskins,42,Denver Broncos,10,Doug Williams,Jack Murphy Stadium,San Diego,California
31,XXI (21),"Jan 25, 1987",New York Giants,39,Denver Broncos,20,Phil Simms,Rose Bowl,Pasadena,California
32,XX (20),"Jan 26, 1986",Chicago Bears,46,New England Patriots,10,Richard Dent+,Louisiana Superdome,New Orleans,Louisiana
33,XIX (19),"Jan 20, 1985",San Francisco 49ers,38,Miami Dolphins,16,Joe Montana+,Stanford Stadium,Palo Alto,California
34,XVIII (18),"Jan 22, 1984",Los Angeles Raiders,38,Washington Redskins,9,Marcus Allen+,Tampa Stadium,Tampa,Florida
35,XVII (17),"Jan 30, 1983",Washington Redskins,27,Miami Dolphins,17,John Riggins+,Rose Bowl,Pasadena,California
36,XVI (16),"Jan 24, 1982",San Francisco 49ers,26,Cincinnati Bengals,21,Joe Montana+,Pontiac Silverdome,Pontiac,Michigan
37,XV (15),"Jan 25, 1981",Oakland Raiders,27,Philadelphia Eagles,10,Jim Plunkett,Louisiana Superdome,New Orleans,Louisiana
38,XIV (14),"Jan 20, 1980",Pittsburgh Steelers,31,Los Angeles Rams,19,Terry Bradshaw+,Rose Bowl,Pasadena,California
39,XIII (13),"Jan 21, 1979",Pittsburgh Steelers,35,Dallas Cowboys,31,Terry Bradshaw+,Orange Bowl,Miami,Florida
4,XLVIII (48),"Feb 2, 2014",Seattle Seahawks,43,Denver Broncos,8,Malcolm Smith,MetLife Stadium,East Rutherford,New Jersey
40,XII (12),"Jan 15, 1978",Dallas Cowboys,27,Denver Broncos,10,Harvey MartinRandy White+,Superdome,New Orleans,Louisiana
41,XI (11),"Jan 9, 1977",Oakland Raiders,32,Minnesota Vikings,14,Fred Biletnikoff+,Rose Bowl,Pasadena,California
42,X (10),"Jan 18, 1976",Pittsburgh Steelers,21,Dallas Cowboys,17,Lynn Swann+,Orange Bowl,Miami,Florida
43,IX (9),"Jan 12, 1975",Pittsburgh Steelers,16,Minnesota Vikings,6,Franco Harris+,Tulane Stadium,New Orleans,Louisiana
44,VIII (8),"Jan 13, 1974",Miami Dolphins,24,Minnesota Vikings,7,Larry Csonka+,Rice Stadium,Houston,Texas
45,VII (7),"Jan 14, 1973",Miami Dolphins,14,Washington Redskins,7,Jake Scott,Memorial Coliseum,Los Angeles,California
46,VI (6),"Jan 16, 1972",Dallas Cowboys,24,Miami Dolphins,3,Roger Staubach+,Tulane Stadium,New Orleans,Louisiana
47,V (5),"Jan 17, 1971",Baltimore Colts,16,Dallas Cowboys,13,Chuck Howley,Orange Bowl,Miami,Florida
48,IV (4),"Jan 11, 1970",Kansas City Chiefs,23,Minnesota Vikings,7,Len Dawson+,Tulane Stadium,New Orleans,Louisiana
49,III (3),"Jan 12, 1969",New York Jets,16,Baltimore Colts,7,Joe Namath+,Orange Bowl,Miami,Florida
5,XLVII (47),"Feb 3, 2013",Baltimore Ravens,34,San Francisco 49ers,31,Joe Flacco,Mercedes-Benz Superdome,New Orleans,Louisiana
50,II (2),"Jan 14, 1968",Green Bay Packers,33,Oakland Raiders,14,Bart Starr+,Orange Bowl,Miami,Florida
51,I (1),"Jan 15, 1967",Green Bay Packers,35,Kansas City Chiefs,10,Bart Starr+,Memorial Coliseum,Los Angeles,California
6,XLVI (46),"Feb 5, 2012",New York Giants,21,New England Patriots,17,Eli Manning,Lucas Oil Stadium,Indianapolis,Indiana
7,XLV (45),"Feb 6, 2011",Green Bay Packers,31,Pittsburgh Steelers,25,Aaron Rodgers,Cowboys Stadium,Arlington,Texas
8,XLIV (44),"Feb 7, 2010",New Orleans Saints,31,Indianapolis Colts,17,Drew Brees,Sun Life Stadium,Miami Gardens,Florida
9,XLIII (43),"Feb 1, 2009",Pittsburgh Steelers,27,Arizona Cardinals,23,Santonio Holmes,Raymond James Stadium,Tampa,Florida

In [8]:
NFL_data = "box_scores.csv"
NFL_data = pd.read_csv(NFL_data)
NFL_data.head(5)

,date,visitor,home,visitor_score,home_score,visitor_first_downs,visitor_rushing_first_downs,visitor_passing_first_downs,visitor_penalties,visitor_net_yards,...,home_kick_return_splits,home_int_return_splits,home_penalty_splits,home_fumble_splits,home_field_goals,home_third_down_splits,home_fourth_down_splits,home_total_plays,home_avg_gain,home_time_of_possession
0,"September 7, 2014",Cleveland,Pittsburgh,27,30,23,9,11,3,389,...,2-29,0-0,11-96,1-0,3-3,4-12-33%,1-1-100%,67,7.5,32:27
1,"September 7, 2014",Jacksonville,Philadelphia,17,34,18,2,14,2,306,...,1-24,0-0,6-50,3-2,2-2,8-19-42%,1-1-100%,82,5.1,30:46
2,"September 4, 2014",Green Bay,Seattle,16,36,19,4,13,2,255,...,3-60,1-21,4-69,2-1,2-2,4-11-36%,1-1-100%,66,6.0,33:20
3,"September 7, 2014",Minnesota,St. Louis,34,6,18,6,10,2,355,...,1-26,0-0,13-121,4-0,2-3,4-14-28%,0-0-0%,63,5.0,31:43
4,"September 7, 2014",Cincinnati,Baltimore,23,16,16,4,11,1,380,...,4-109,0-0,3-29,2-1,1-2,8-17-47%,1-2-50%,85,5.0,29:30

In [9]:
team_scores = NFL_data[["date","visitor","home","visitor_score","home_score"]]
team_scores.head(5)

                date       visitor          home  visitor_score  home_score
0  September 7, 2014     Cleveland    Pittsburgh             27          30
1  September 7, 2014  Jacksonville  Philadelphia             17          34
2  September 4, 2014     Green Bay       Seattle             16          36
3  September 7, 2014     Minnesota     St. Louis             34           6
4  September 7, 2014    Cincinnati     Baltimore             23          16

In [10]:
team_scores.nlargest(5, "home_score")

                   date       visitor         home  visitor_score  home_score
936    October 23, 2011  Indianapolis  New Orleans              7          62
1190   October 18, 2009     Tennessee  New England              0          59
1773  November 18, 2012  Indianapolis  New England             24          59
2558   December 9, 2012       Arizona      Seattle              0          58
3395  November 28, 2004     Cleveland   Cincinnati             48          58

In [11]:
team_scores.nlargest(5, "visitor_score")

                    date       visitor         home  visitor_score  home_score
744     October 24, 2010       Oakland       Denver             59          14
1049   November 15, 2010  Philadelphia   Washington             59          28
3103   December 15, 2013   Kansas City      Oakland             56          31
3261   November 18, 2007   New England      Buffalo             56          10
1854  September 28, 2003  Indianapolis  New Orleans             55          21

In [12]:
NFL_games = "nfl_games.csv"
NFL_games = pd.read_csv(NFL_games)
NFL_date_games = NFL_games.set_index("date")

NFL_date_games = NFL_date_games["2014-09-04":]

In [13]:
NFL_date_games = NFL_date_games[["season","team1","team2","score1","score2"]]
nfl_scores = NFL_date_games
nfl_scores.head()

            season team1 team2  score1  score2
date
2014-09-04    2014   SEA    GB      36      16
2014-09-07    2014   PHI   JAX      34      17
2014-09-07    2014   PIT   CLE      30      27
2014-09-07    2014   BAL   CIN      16      23
2014-09-07    2014    TB   CAR      14      20

In [14]:
team1_scores = nfl_scores.groupby("team1").sum()["score1"]
team2_scores = nfl_scores.groupby("team2").sum()["score2"]

team1_scores_df = pd.DataFrame(team1_scores)
team2_scores_df = pd.DataFrame(team2_scores)

In [15]:
#Scores from 2014 to 2017
nfl_team_scores = pd.concat([team1_scores_df, team2_scores_df], axis=1)
nfl_team_scores["Total Points from 2014 to 2017"] = nfl_team_scores["score1"] + nfl_team_scores["score2"]
del nfl_team_scores["score1"]
del nfl_team_scores["score2"]
nfl_team_scores.nlargest(10, "Total Points from 2014 to 2017")

     Total Points from 2014 to 2017
NE                             1631
GB                             1482
PIT                            1374
ATL                            1368
CAR                            1342
SEA                            1334
NO                             1278
ARI                            1274
IND                            1259
DEN                            1250

In [16]:
# Obtained all scores for season, including full season, called DataFrames on all.

nfl_season_2014 = NFL_date_games["2014-09-04":"2015-02-01"]
scores_2014_team1 = nfl_season_2014.groupby("team1").sum()["score1"]
scores_2014_team2 = nfl_season_2014.groupby("team2").sum()["score2"]
scores_2014_df1 = pd.DataFrame(scores_2014_team1)
scores_2014_df2 = pd.DataFrame(scores_2014_team2)
scores_2014 = pd.concat([scores_2014_df1, scores_2014_df2], axis = 1)
scores_2014["Total Points for 2014"] = scores_2014["score1"] + scores_2014["score2"]
del scores_2014["score1"]
del scores_2014["score2"]

nfl_season_2015 = NFL_date_games["2015-09-10":"2016-02-07"]
scores_2015_team1 = nfl_season_2015.groupby("team1").sum()["score1"]
scores_2015_team2 = nfl_season_2015.groupby("team2").sum()["score2"]
scores_2015_df1 = pd.DataFrame(scores_2015_team1)
scores_2015_df2 = pd.DataFrame(scores_2015_team2)
scores_2015 = pd.concat([scores_2015_df1, scores_2015_df2], axis = 1)
scores_2015["Total Points for 2015"] = scores_2015["score1"] + scores_2015["score2"]
del scores_2015["score1"]
del scores_2015["score2"]


nfl_season_2016 = NFL_date_games["2016-09-08":"2017-02-05"]
scores_2016_team1 = nfl_season_2016.groupby("team1").sum()["score1"]
scores_2016_team2 = nfl_season_2016.groupby("team2").sum()["score2"]
scores_2016_df1 = pd.DataFrame(scores_2016_team1)
scores_2016_df2 = pd.DataFrame(scores_2016_team2)
scores_2016 = pd.concat([scores_2016_df1, scores_2016_df2], axis = 1)
scores_2016["Total Points for 2016"] = scores_2016["score1"] + scores_2016["score2"]
del scores_2016["score1"]
del scores_2016["score2"]


nfl_team_scores
scores_2014
scores_2015
scores_2016

     Total Points for 2016
ARI                    418
ATL                    648
BAL                    343
BUF                    399
CAR                    369
CHI                    279
CIN                    325
CLE                    264
DAL                    452
DEN                    333
DET                    352
GB                     525
HOU                    322
IND                    411
JAX                    318
KC                     405
LAC                    410
LAR                    224
MIA                    375
MIN                    327
NE                     545
NO                     469
NYG                    323
NYJ                    275
OAK                    430
PHI                    367
PIT                    464
SEA                    400
SF                     309
TB                     354
TEN                    381
WSH                    396

In [17]:
#Getting final row for sums for each DF

nfl_team_scores_sum = nfl_team_scores.loc['Total', 'Sum of Point']= nfl_team_scores['Total Points from 2014 to 2017'].sum()
scores_2014_sum = scores_2014.loc['Total', 'Sum of Point']= scores_2014['Total Points for 2014'].sum()
scores_2015_sum = scores_2015.loc['Total', 'Sum of Point']= scores_2015['Total Points for 2015'].sum()
scores_2016_sum = scores_2016.loc['Total', 'Sum of Point']= scores_2016['Total Points for 2016'].sum()

In [18]:
sum_all = nfl_team_scores["Total Points from 2014 to 2017"].sum()
sum_all

36438.0

# Cumulative Player Stats
### Will Be Merged to Analyze Team Stats

In [59]:
nfl_stats = "Cumulative_Stats_Combined.csv"
nfl_Stats = pd.read_csv(nfl_stats)
nfl_Stats.drop(["Unnamed: 0", "Unnamed: 0.1"], axis=1, inplace=True)
nfl_Stats.set_index("Season")
# nfl_Stats.to_csv("NFL_Cumulative_Stats_Combined.csv")

,#Player ID,#LastName,#FirstName,#Jersey Num,#Position,#Height,#Weight,#Birth Date,#Age,#Birth City,...,#PuntDown,#PuntIn20,#PuntIn20Pct,#PuntTB,#PuntTBPct,#PuntFC,#PuntRet,#PuntRetYds,#PuntRetAvg,#GamesStarted
Season,,,,,,,,,,,,,,,,,,,,,
2014-2015 Regular,7350,Abdullah,Husain,39.0,DB,"6'0""",204.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,6899,Abdul-Quddus,Isa,42.0,DB,"6'1""",201.0,1989-08-03,28.0,"Newark, NJ",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,7861,Aboushi,Oday,75.0,G,"6'5""",315.0,1991-06-05,26.0,"Brooklyn, NY",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,8062,Acho,Emmanuel,51.0,LB,"6'2""",240.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,6430,Acho,Sam,49.0,OLB,"6'3""",257.0,1988-09-06,29.0,"Dallas, TX",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,8459,Acosta,Corey,25.0,K,"6'0""",190.0,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2014-2015 Regular,6924,Adams,Davante,17.0,WR,"6'1""",215.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,7039,Adams,Jeff,70.0,OT,"6'7""",305.0,1989-09-06,28.0,"Berwyn, IL",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,8134,Adams,Mike,76.0,OT,"6'7""",323.0,1990-03-10,28.0,"Farrell, PA",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,7170,Adams,Mike,29.0,SS,"5'11""",205.0,1981-03-24,37.0,"Paterson, NJ",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,6094,Adams,Phillip,20.0,DB,"5'11""",195.0,1988-07-20,29.0,"Rock Hill, SC",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,8271,Addae,Jahleel,37.0,SS,"5'10""",195.0,1990-01-24,28.0,"Valrico, FL",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,6335,Addison,Mario,97.0,DE,"6'3""",260.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,6654,Agnew,Ray,48.0,RB,"5'10""",245.0,1991-02-26,27.0,"Winston-Salem, NC",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,8842,Aiken,Danny,57.0,LS,"6'4""",255.0,1988-08-28,29.0,"Oxford, CT",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,6125,Aiken,Kamar,11.0,WR,"6'2""",216.0,1989-05-30,28.0,"Hollywood, FL",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,7437,Aikens,Walt,35.0,CB,"6'1""",208.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,8020,Ajirotutu,Seyi,16.0,WR,"6'3""",215.0,1987-06-12,30.0,"Mountain View, CA",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,6082,Akunne,Derek,7.0,LB,"6'0""",242.0,1993-08-17,24.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,7406,Albert,Branden,71.0,OT,"6'5""",320.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,7331,Alexander,D.J.,4.0,LB,"6'2""",233.0,1991-09-30,26.0,"Long Beach, CA",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,6336,Alexander,Frank,90.0,DE,"6'4""",270.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,5988,Alexander,Lorenzo,97.0,LB,"6'1""",244.0,1983-05-31,34.0,"Oakland, CA",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,8536,Alexander,Maurice,31.0,FS,"6'1""",220.0,1991-02-16,27.0,"St. Louis, MO",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,6095,Alford,Robert,23.0,CB,"5'10""",186.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,7905,Allen,Antonio,39.0,DB,"6'1""",210.0,1988-09-23,29.0,"Ocala, FL",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,8058,Allen,Beau,94.0,DT,"6'2""",333.0,1991-11-14,26.0,"Eden Prairie, MN",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,8167,Allen,Cortez,28.0,CB,"6'1""",196.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,7111,Allen,Dwayne,83.0,TE,"6'3""",265.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2014-2015 Regular,6417,Allen,Jared,69.0,DE,"6'6""",255.0,1982-04-03,35.0,"Dallas, TX",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018 Playoff,8719,Wreh-Wilson,Blidi,33.0,DB,"6'1""",198.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,6878,Wright,Gabe,77.0,DT,"6'3""",305.0,1992-04-03,25.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,6485,Wright,James,13.0,WR,"6'0""",203.0,1991-12-31,26.0,"New Orleans, LA",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,7480,Wright,Jarius,17.0,WR,"5'10""",191.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,8663,Wright,Kendall,13.0,WR,"5'10""",185.0,1989-11-12,28.0,"Mount PLeasant, TX",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,8351,Wright,K.J.,50.0,LB,"6'4""",246.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,8633,Wright,Major,31.0,SS,"5'11""",204.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,9835,Wright,Scooby,58.0,ILB,"6'0""",240.0,1994-08-28,23.0,"Windsor, CA",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,8449,Wright,Shareece,20.0,DB,"5'11""",184.0,1987-04-08,30.0,"San Bernardino, CA",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,8574,Wright,Timothy,83.0,TE,"6'4""",220.0,1990-04-07,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,6612,Wynn,Dylan,97.0,DT,"6'2""",283.0,1993-06-01,24.0,"Arlington, TX",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,7787,Wynn,Kerry,72.0,DE,"6'5""",264.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,6577,Wynn,Shane,14.0,WR,"5'6""",167.0,1992-11-15,25.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,6147,Yanda,Marshal,73.0,G,"6'3""",305.0,1984-09-15,33.0,"Cedar Rapids, IA",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,7492,Yankey,David,61.0,G,"6'6""",315.0,1992-01-18,26.0,Sydney,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,12792,Yarbrough,Eddie,75.0,DE,"6'3""",259.0,1993-04-24,24.0,"Aurora, CO",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,6026,Yates,T.J.,9.0,QB,"6'4""",217.0,1987-05-28,30.0,"Marietta, GA",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,7189,Yeldon,T.J.,24.0,RB,"6'1""",226.0,1993-10-02,24.0,"Daphne, AL",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,6365,Young,Lou,22.0,DB,"6'1""",205.0,1991-10-09,26.0,"Washington, DC",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,7223,Young,Sam,79.0,OT,"6'8""",306.0,1987-06-24,30.0,"Dayton, OH",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,9762,Young,Tavon,43.0,CB,"5'9""",177.0,1994-03-14,24.0,"Oxon Hill, MD",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,6423,Young,Willie,97.0,DE,"6'4""",251.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,13297,Zaruba,Adam,80.0,TE,"6'5""",265.0,1991-03-31,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,6497,Zeitler,Kevin,70.0,G,"6'4""",315.0,1990-03-08,28.0,"Milwaukee, WI",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,6831,Zenner,Zach,34.0,RB,"5'11""",223.0,1991-09-13,26.0,"Eagan, MN",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,9867,Zettel,Anthony,69.0,DT,"6'4""",271.0,1992-08-09,25.0,"West Branch, MI",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,13268,Zimmer,Justin,92.0,DT,"6'3""",292.0,1992-10-23,25.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2018 Playoff,7344,Zombo,Frank,51.0,LB,"6'3""",254.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2018 Playoff,8544,Zuerlein,Greg,4.0,K,"6'0""",196.0,1987-12-27,30.0,"Lincoln, NE",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018 Playoff,6148,Zuttah,Jeremy,53.0,C,"6'4""",300.0,1986-06-01,31.0,"Edison, NJ",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

#  Building Team Stats

In [130]:
#Sort Stat Leaders by Team
nfl_Stats.groupby(nfl_Stats.index).sum()
teamTotals = nfl_Stats.reset_index().groupby("#Team Abbr.").sum()
teamTotals.keys()

Index(['index', '#Player ID', '#Jersey Num', '#Weight', '#Age', '#Team ID',
       '#GamesPlayed', '#PassAttempts', '#PassCompletions', '#PassPct',
       ...
       '#PuntDown', '#PuntIn20', '#PuntIn20Pct', '#PuntTB', '#PuntTBPct',
       '#PuntFC', '#PuntRet', '#PuntRetYds', '#PuntRetAvg', '#GamesStarted'],
      dtype='object', length=145)

##  Offensive Categories

In [133]:
#Offensive Totals
offTotals = teamTotals[["#PassAttempts", "#PassCompletions", "#PassPct", "#PassAttemptsPerGame", 
                        "#PassYards", "#PassYardsPerAtt", "#PassYardsPerGame", "#PassTD", "#PassTDPct", 
                        "#PassInt", "#PassIntPct", "#PassLng", "#PassAvg", "#Pass20Plus", 
                        "#Pass40Plus", "#PassSacks", "#PassSackY", "#QBRating", "#RushAttempts", 
                        "#RushAttemptsPerGame", "#RushYards", "#RushAverage", "#RushYardsPerGame", "#RushTD", 
                        "#RushLng", "#Rush1stDowns", "#Rush1stDownsPct", "#Rush20Plus", "#Rush40Plus", 
                        "#RushFumbles", "#Targets", "#Receptions", "#RecYards", "#RecAverage", 
                        "#RecYardsPerGame", "#RecTD", "#RecLng", "#Rec1stDowns", "#Rec20Plus", 
                        "#Rec40Plus", "#RecFumbles"
                       ]]
offTotals.head()

,#PassAttempts,#PassCompletions,#PassPct,#PassAttemptsPerGame,#PassYards,#PassYardsPerAtt,#PassYardsPerGame,#PassTD,#PassTDPct,#PassInt,...,#Receptions,#RecYards,#RecAverage,#RecYardsPerGame,#RecTD,#RecLng,#Rec1stDowns,#Rec20Plus,#Rec40Plus,#RecFumbles
#Team Abbr.,,,,,,,,,,,,,,,,,,,,,
ARI,2468.0,1445.0,860.1,322.8,17712.0,113.5,2119.6,110.0,56.5,65.0,...,1375.0,16983.0,799.0,1608.7,106.0,3918.0,843.0,208.0,38.0,0.0
ATL,2486.0,1658.0,654.4,218.3,19903.0,122.7,1773.6,119.0,131.0,47.0,...,1625.0,19650.0,776.2,1910.3,117.0,3684.0,970.0,240.0,46.0,0.0
BAL,2739.0,1713.0,600.2,298.7,17463.0,59.4,1902.3,99.0,42.8,69.0,...,1447.0,14301.0,604.3,1285.3,73.0,1850.0,699.0,141.0,24.0,0.0
BUF,2053.0,1251.0,721.0,204.0,13982.0,77.5,1292.8,79.0,27.7,39.0,...,1265.0,14317.0,815.4,1284.1,82.0,3485.0,676.0,170.0,33.0,0.0
CAR,2307.0,1344.0,636.5,263.1,16538.0,76.0,1950.0,110.0,42.6,60.0,...,1283.0,15801.0,868.4,1849.3,107.0,3826.0,791.0,192.0,32.0,0.0

In [136]:
#Passing Offense
passOff = offTotals[["#PassAttempts", "#PassCompletions", "#PassPct", "#PassAttemptsPerGame", 
                     "#PassYards", "#PassYardsPerAtt", "#PassYardsPerGame", "#PassTD", "#PassTDPct", 
                     "#PassInt", "#PassIntPct", "#PassLng", "#PassAvg", "#Pass20Plus", 
                     "#Pass40Plus", "#PassSacks", "#PassSackY", "#QBRating"]]
passOff.head()

,#PassAttempts,#PassCompletions,#PassPct,#PassAttemptsPerGame,#PassYards,#PassYardsPerAtt,#PassYardsPerGame,#PassTD,#PassTDPct,#PassInt,#PassIntPct,#PassLng,#PassAvg,#Pass20Plus,#Pass40Plus,#PassSacks,#PassSackY,#QBRating
#Team Abbr.,,,,,,,,,,,,,,,,,,
ARI,2468.0,1445.0,860.1,322.8,17712.0,113.5,2119.6,110.0,56.5,65.0,48.6,1263.0,113.5,234.0,38.0,157.0,1119.0,4752.7
ATL,2486.0,1658.0,654.4,218.3,19903.0,122.7,1773.6,119.0,131.0,47.0,47.1,1107.0,122.7,252.0,47.0,137.0,976.0,4445.1
BAL,2739.0,1713.0,600.2,298.7,17463.0,59.4,1902.3,99.0,42.8,69.0,39.8,548.0,59.4,189.0,33.0,112.0,849.0,3980.7
BUF,2053.0,1251.0,721.0,204.0,13982.0,77.5,1292.8,79.0,27.7,39.0,80.6,1108.0,77.5,179.0,32.0,176.0,1040.0,4059.4
CAR,2307.0,1344.0,636.5,263.1,16538.0,76.0,1950.0,110.0,42.6,60.0,25.1,1192.0,76.0,211.0,33.0,163.0,1236.0,4795.3

In [138]:
#Rushing Offense
rushOff = offTotals[["#RushAttemptsPerGame", "#RushYards", "#RushAverage", "#RushYardsPerGame", "#RushTD", 
                     "#RushLng", "#Rush1stDowns", "#Rush1stDownsPct", "#Rush20Plus", "#Rush40Plus", 
                     "#RushFumbles"]]
rushOff.head()

,#RushAttemptsPerGame,#RushYards,#RushAverage,#RushYardsPerGame,#RushTD,#RushLng,#Rush1stDowns,#Rush1stDownsPct,#Rush20Plus,#Rush40Plus,#RushFumbles
#Team Abbr.,,,,,,,,,,,
ARI,179.8,6188.0,207.0,623.4,49.0,1114.0,323.0,1279.2,30.0,9.0,33.0
ATL,170.8,7240.0,174.3,693.6,60.0,1332.0,403.0,1053.7,40.0,9.0,31.0
BAL,165.6,7064.0,157.3,631.0,50.0,824.0,407.0,1102.8,47.0,7.0,27.0
BUF,179.8,8598.0,177.1,810.1,66.0,1363.0,445.0,1492.9,65.0,13.0,29.0
CAR,252.5,8831.0,263.5,1032.6,67.0,1767.0,516.0,1691.3,37.0,11.0,33.0

In [139]:
#Receiving Offense
recOff = offTotals[["#Targets", "#Receptions", "#RecYards", "#RecAverage", 
                    "#RecYardsPerGame", "#RecTD", "#RecLng", "#Rec1stDowns", "#Rec20Plus", 
                    "#Rec40Plus", "#RecFumbles"]]
recOff.head()

,#Targets,#Receptions,#RecYards,#RecAverage,#RecYardsPerGame,#RecTD,#RecLng,#Rec1stDowns,#Rec20Plus,#Rec40Plus,#RecFumbles
#Team Abbr.,,,,,,,,,,,
ARI,2290.0,1375.0,16983.0,799.0,1608.7,106.0,3918.0,843.0,208.0,38.0,0.0
ATL,2405.0,1625.0,19650.0,776.2,1910.3,117.0,3684.0,970.0,240.0,46.0,0.0
BAL,2238.0,1447.0,14301.0,604.3,1285.3,73.0,1850.0,699.0,141.0,24.0,0.0
BUF,2052.0,1265.0,14317.0,815.4,1284.1,82.0,3485.0,676.0,170.0,33.0,0.0
CAR,2173.0,1283.0,15801.0,868.4,1849.3,107.0,3826.0,791.0,192.0,32.0,0.0

In [170]:
offScores = offTotals[["#PassTD", "#RushTD", "#RecTD"]]
offScores

             #PassTD  #RushTD  #RecTD
#Team Abbr.
ARI            110.0     49.0   106.0
ATL            119.0     60.0   117.0
BAL             99.0     50.0    73.0
BUF             79.0     66.0    82.0
CAR            110.0     67.0   107.0
CHI             82.0     44.0    82.0
CIN             95.0     61.0    95.0
CLE             62.0     42.0    60.0
DAL            105.0     67.0   107.0
DEN            101.0     49.0    99.0
DET            109.0     38.0   108.0
GB             151.0     55.0   149.0
HOU             95.0     37.0    93.0
IND            116.0     41.0   115.0
JAX             98.0     44.0    84.0
KC              88.0     65.0    90.0
LA              43.0     26.0    43.0
LAC             28.0     10.0    28.0
MIA            103.0     39.0   104.0
MIN             79.0     60.0    79.0
NE             167.0     79.0   168.0
NO             131.0     74.0   132.0
NYG            113.0     30.0   106.0
NYJ             84.0     45.0    85.0
OAK            109.0     42.0   106.0
PHI            111.0     59.0   104.0
PIT            131.0     53.0   130.0
SD              94.0     19.0    93.0
SEA            125.0     44.0   123.0
SF              68.0     46.0    72.0
STL             31.0     27.0    31.0
TB              98.0     35.0    96.0
TEN             86.0     50.0    85.0
WAS            101.0     52.0   101.0

In [171]:
offTurn_Sack = offTotals[["#PassInt", "#PassIntPct", "#PassSacks", "#PassSackY", "#RushFumbles", "#RecFumbles"]]
offTurn_Sack.head()

,#PassInt,#PassIntPct,#PassSacks,#PassSackY,#RushFumbles,#RecFumbles
#Team Abbr.,,,,,,
ARI,65.0,48.6,157.0,1119.0,33.0,0.0
ATL,47.0,47.1,137.0,976.0,31.0,0.0
BAL,69.0,39.8,112.0,849.0,27.0,0.0
BUF,39.0,80.6,176.0,1040.0,29.0,0.0
CAR,60.0,25.1,163.0,1236.0,33.0,0.0

## Defensive Categories

In [148]:
defTotals = teamTotals[["#TackleSolo", "#TackleTotal", "#TackleAst", "#Sacks", "#SackYds", 
                        "#TacklesForLoss", "#Interceptions", "#IntTD", "#IntYds", "#IntAverage", 
                        "#IntLng", "#PassesDefended", "#Stuffs", "#Safeties", "#StuffYds",
                        "#Fumbles", "#FumLost", "#FumForced", "#FumOwnRec", "#FumOppRec", 
                        "#FumRecYds", "#FumTotalRec", "#FumTD"
]]
defTotals.head()

,#TackleSolo,#TackleTotal,#TackleAst,#Sacks,#SackYds,#TacklesForLoss,#Interceptions,#IntTD,#IntYds,#IntAverage,...,#StuffYds,#KB,#Fumbles,#FumLost,#FumForced,#FumOwnRec,#FumOppRec,#FumRecYds,#FumTotalRec,#FumTD
#Team Abbr.,,,,,,,,,,,,,,,,,,,,,
ARI,3171.0,3956.0,785.0,156.0,1232.0,527.0,68.0,10.0,756.0,487.4,...,1863.0,5.0,91.0,40.0,66.0,41.0,45.0,-205.0,86.0,5.0
ATL,2995.0,4243.0,1248.0,130.0,926.0,394.0,54.0,6.0,631.0,388.3,...,1343.0,5.0,75.0,31.0,56.0,40.0,40.0,-5.0,80.0,9.0
BAL,2811.0,4054.0,1243.0,168.0,1279.0,463.0,59.0,5.0,561.0,265.4,...,1696.0,10.0,66.0,26.0,51.0,35.0,43.0,-230.0,78.0,8.0
BUF,2981.0,4229.0,1248.0,139.0,904.0,452.0,63.0,4.0,939.0,430.5,...,1393.0,1.0,74.0,30.0,50.0,40.0,32.0,-81.0,72.0,7.0
CAR,2821.0,4235.0,1414.0,200.5,1469.0,529.0,74.0,9.0,602.0,340.7,...,2020.0,4.0,79.0,42.0,77.0,33.0,54.0,-276.0,87.0,4.0

In [150]:
passDef = defTotals[["#TackleSolo", "#TackleTotal", "#TackleAst", "#Sacks", "#SackYds",
                     "#Interceptions", "#IntTD", "#IntYds", "#IntAverage", "#IntLng", 
                     "#PassesDefended", "#Fumbles", "#FumLost", "#FumForced", "#FumOwnRec", 
                     "#FumOppRec", "#FumRecYds", "#FumTotalRec", "#FumTD", "#Safeties"]]
passDef.head()

,#TackleSolo,#TackleTotal,#TackleAst,#Sacks,#SackYds,#Interceptions,#IntTD,#IntYds,#IntAverage,#IntLng,#PassesDefended,#Fumbles,#FumLost,#FumForced,#FumOwnRec,#FumOppRec,#FumRecYds,#FumTotalRec,#FumTD,#Safeties
#Team Abbr.,,,,,,,,,,,,,,,,,,,,
ARI,3171.0,3956.0,785.0,156.0,1232.0,68.0,10.0,756.0,487.4,657.0,278.0,91.0,40.0,66.0,41.0,45.0,-205.0,86.0,5.0,4.0
ATL,2995.0,4243.0,1248.0,130.0,926.0,54.0,6.0,631.0,388.3,622.0,301.0,75.0,31.0,56.0,40.0,40.0,-5.0,80.0,9.0,1.0
BAL,2811.0,4054.0,1243.0,168.0,1279.0,59.0,5.0,561.0,265.4,400.0,300.0,66.0,26.0,51.0,35.0,43.0,-230.0,78.0,8.0,2.0
BUF,2981.0,4229.0,1248.0,139.0,904.0,63.0,4.0,939.0,430.5,766.0,339.0,74.0,30.0,50.0,40.0,32.0,-81.0,72.0,7.0,0.0
CAR,2821.0,4235.0,1414.0,200.5,1469.0,74.0,9.0,602.0,340.7,575.0,291.0,79.0,42.0,77.0,33.0,54.0,-276.0,87.0,4.0,1.0

In [151]:
rushDef = defTotals[["#TackleSolo", "#TackleTotal", "#TackleAst", "#Sacks", "#SackYds", 
                     "#TacklesForLoss", "#Stuffs", "#Safeties", "#StuffYds", "#Fumbles", 
                     "#FumLost", "#FumForced", "#FumOwnRec", "#FumOppRec", 
                     "#FumRecYds", "#FumTotalRec", "#FumTD"]]
rushDef.head()

,#TackleSolo,#TackleTotal,#TackleAst,#Sacks,#SackYds,#TacklesForLoss,#Stuffs,#Safeties,#StuffYds,#Fumbles,#FumLost,#FumForced,#FumOwnRec,#FumOppRec,#FumRecYds,#FumTotalRec,#FumTD
#Team Abbr.,,,,,,,,,,,,,,,,,
ARI,3171.0,3956.0,785.0,156.0,1232.0,527.0,620.0,4.0,1863.0,91.0,40.0,66.0,41.0,45.0,-205.0,86.0,5.0
ATL,2995.0,4243.0,1248.0,130.0,926.0,394.0,515.0,1.0,1343.0,75.0,31.0,56.0,40.0,40.0,-5.0,80.0,9.0
BAL,2811.0,4054.0,1243.0,168.0,1279.0,463.0,550.0,2.0,1696.0,66.0,26.0,51.0,35.0,43.0,-230.0,78.0,8.0
BUF,2981.0,4229.0,1248.0,139.0,904.0,452.0,636.0,0.0,1393.0,74.0,30.0,50.0,40.0,32.0,-81.0,72.0,7.0
CAR,2821.0,4235.0,1414.0,200.5,1469.0,529.0,670.0,1.0,2020.0,79.0,42.0,77.0,33.0,54.0,-276.0,87.0,4.0

In [152]:
turnDef = defTotals[["#Interceptions", "#IntTD", "#IntYds", "#IntAverage", "#IntLng",
                     "#Fumbles", "#FumLost", "#FumForced", "#FumOwnRec", "#FumOppRec", 
                     "#FumRecYds", "#FumTotalRec", "#FumTD"]]
turnDef.head()

,#Interceptions,#IntTD,#IntYds,#IntAverage,#IntLng,#Fumbles,#FumLost,#FumForced,#FumOwnRec,#FumOppRec,#FumRecYds,#FumTotalRec,#FumTD
#Team Abbr.,,,,,,,,,,,,,
ARI,68.0,10.0,756.0,487.4,657.0,91.0,40.0,66.0,41.0,45.0,-205.0,86.0,5.0
ATL,54.0,6.0,631.0,388.3,622.0,75.0,31.0,56.0,40.0,40.0,-5.0,80.0,9.0
BAL,59.0,5.0,561.0,265.4,400.0,66.0,26.0,51.0,35.0,43.0,-230.0,78.0,8.0
BUF,63.0,4.0,939.0,430.5,766.0,74.0,30.0,50.0,40.0,32.0,-81.0,72.0,7.0
CAR,74.0,9.0,602.0,340.7,575.0,79.0,42.0,77.0,33.0,54.0,-276.0,87.0,4.0

In [169]:
defScores = defTotals[["#IntTD", "#FumTD"]]
defScores

             #IntTD  #FumTD
#Team Abbr.
ARI            10.0     5.0
ATL             6.0     9.0
BAL             5.0     8.0
BUF             4.0     7.0
CAR             9.0     4.0
CHI             4.0     2.0
CIN             5.0     1.0
CLE             6.0     1.0
DAL             4.0     2.0
DEN            11.0     6.0
DET             6.0     4.0
GB              6.0     3.0
HOU             9.0     5.0
IND             6.0     3.0
JAX             5.0    10.0
KC              9.0     7.0
LA              3.0     3.0
LAC             2.0     2.0
MIA             7.0     4.0
MIN             7.0     7.0
NE              0.0     6.0
NO              2.0     4.0
NYG             5.0     6.0
NYJ             0.0     1.0
OAK             2.0     2.0
PHI            10.0    12.0
PIT             6.0     3.0
SD              4.0     5.0
SEA             6.0     6.0
SF              4.0     1.0
STL             4.0     2.0
TB              9.0     5.0
TEN             2.0     4.0
WAS             3.0     3.0

## Special Teams Categories

In [145]:
sptTotals = teamTotals[["#KB", "#KrRet", "#KrYds", "#KrAvg", "#KrLng","#KrTD", 
                        "#Kr20Plus", "#Kr40Plus", "#KrFC", "#KrFum", "#PrRet", 
                        "#PrYds", "#PrAvg", "#PrLng", "#PrTD", "#Pr20Plus", 
                        "#Pr40Plus", "#PrFC", "#PrFum", "#FgBlk", "#FgMade", 
                        "#FgAtt","#FgPct", "#FgMade1_19", "#FgAtt1_19", "#Fg1_19Pct",
                        "#FgMade20_29", "#FgAtt20_29", "#Fg20_29Pct", "#FgMade30_39", "#FgAtt30_39",
                        "#Fg30_39Pct","#FgMade40_49", "#FgAtt40_49", "#Fg40_49Pct", "#FgMade50Plus", "#FgAtt50Plus",
                        "#Fg50PlusPct", "#FgLng", "#XpBlk", "#XpMade", "#XpAtt", 
                        "#XpPct", "#FgAndXpPts", "#KoPct", "#Kickoffs", "#KoYds",
                        "#KoOOB", '#KoAvg', "#KoTB", "#KoRet", "#KoRetYds", 
                        "#KoRetAvgYds", "#KoTD", "#KoOS", "#KoOSR", "#Punts", 
                        "#PuntYds", "#PuntNetYds", "#PuntLng", "#PuntAvg", "#PuntNetAvg", 
                        "#PuntBlk", "#PuntOOB", "#PuntDown", "#PuntIn20", "#PuntIn20Pct", 
                        "#PuntTB", "#PuntTBPct", "#PuntFC", "#PuntRet", "#PuntRetYds", "#PuntRetAvg"
]]
sptTotals.head()

,#KrRet,#KrYds,#KrAvg,#KrLng,#KrTD,#Kr20Plus,#Kr40Plus,#KrFC,#KrFum,#PrRet,...,#PuntOOB,#PuntDown,#PuntIn20,#PuntIn20Pct,#PuntTB,#PuntTBPct,#PuntFC,#PuntRet,#PuntRetYds,#PuntRetAvg
#Team Abbr.,,,,,,,,,,,,,,,,,,,,,
ARI,122.0,2732.0,385.1,856.0,1.0,69.0,7.0,0.0,0.0,142.0,...,0.0,39.0,107.0,258.4,22.0,44.8,106.0,139.0,1687.0,94.4
ATL,146.0,3414.0,277.4,898.0,0.0,90.0,9.0,0.0,0.0,97.0,...,0.0,16.0,91.0,241.7,12.0,29.6,94.0,106.0,1166.0,70.4
BAL,129.0,3386.0,398.4,720.0,2.0,93.0,11.0,0.0,0.0,121.0,...,0.0,38.0,101.0,170.0,17.0,29.2,58.0,118.0,1064.0,50.5
BUF,153.0,3272.0,472.4,984.0,1.0,85.0,4.0,0.0,0.0,116.0,...,0.0,38.0,82.0,164.3,19.0,42.8,67.0,146.0,1121.0,30.4
CAR,130.0,2971.0,519.8,1119.0,1.0,77.0,7.0,0.0,0.0,129.0,...,0.0,43.0,103.0,286.7,24.0,108.2,87.0,136.0,1613.0,116.5

In [166]:
puntRETtotals = teamTotals[["#PrRet", 
                        "#PrYds", "#PrAvg", "#PrLng", "#PrTD", "#Pr20Plus", 
                        "#Pr40Plus", "#PrFC", "#PrFum","#PuntRet", "#PuntRetYds", "#PuntRetAvg"]]
puntRETtotals

,#PrRet,#PrYds,#PrAvg,#PrLng,#PrTD,#Pr20Plus,#Pr40Plus,#PrFC,#PrFum,#PuntRet,#PuntRetYds,#PuntRetAvg
#Team Abbr.,,,,,,,,,,,,
ARI,142.0,1166.0,89.2,449.0,1.0,7.0,2.0,114.0,0.0,139.0,1687.0,94.4
ATL,97.0,1171.0,68.9,418.0,1.0,13.0,6.0,81.0,0.0,106.0,1166.0,70.4
BAL,121.0,1375.0,145.8,356.0,2.0,14.0,4.0,84.0,0.0,118.0,1064.0,50.5
BUF,116.0,1318.0,130.4,542.0,1.0,20.0,5.0,79.0,0.0,146.0,1121.0,30.4
CAR,129.0,1287.0,86.3,442.0,2.0,12.0,3.0,108.0,0.0,136.0,1613.0,116.5
CHI,106.0,1141.0,215.2,452.0,3.0,14.0,5.0,78.0,0.0,124.0,1586.0,62.5
CIN,162.0,1735.0,162.2,657.0,0.0,23.0,7.0,68.0,0.0,146.0,1311.0,48.9
CLE,114.0,1046.0,93.2,286.0,1.0,9.0,2.0,67.0,0.0,162.0,1828.0,45.0
DAL,119.0,1048.0,82.5,410.0,1.0,11.0,1.0,69.0,0.0,53.0,438.0,26.5
DEN,144.0,1551.0,215.0,660.0,1.0,17.0,6.0,111.0,0.0,148.0,1243.0,44.4
DET,112.0,1461.0,105.0,479.0,4.0,21.0,5.0,100.0,0.0,130.0,1252.0,51.6
GB,117.0,1284.0,140.6,569.0,2.0,17.0,5.0,91.0,0.0,111.0,909.0,58.4
HOU,159.0,1426.0,141.2,480.0,1.0,10.0,3.0,106.0,0.0,198.0,2440.0,79.5
IND,138.0,1190.0,97.5,424.0,0.0,12.0,1.0,91.0,0.0,105.0,1053.0,51.8
JAX,135.0,1277.0,96.1,448.0,2.0,12.0,5.0,89.0,0.0,157.0,1735.0,54.4
KC,168.0,2157.0,107.3,708.0,4.0,34.0,10.0,31.0,0.0,107.0,801.0,62.5
LA,94.0,994.0,43.1,142.0,0.0,16.0,4.0,30.0,0.0,58.0,325.0,15.4
LAC,26.0,350.0,15.9,93.0,1.0,5.0,3.0,26.0,0.0,45.0,349.0,7.8
MIA,133.0,1436.0,95.0,409.0,2.0,17.0,5.0,68.0,0.0,153.0,1643.0,51.5
MIN,134.0,1542.0,82.8,519.0,3.0,21.0,5.0,93.0,0.0,108.0,907.0,43.3
NE,198.0,2089.0,189.0,775.0,0.0,26.0,5.0,100.0,0.0,127.0,1072.0,61.3
NO,111.0,1053.0,97.5,383.0,1.0,11.0,3.0,88.0,0.0,101.0,930.0,57.3
NYG,116.0,1130.0,95.5,388.0,1.0,13.0,3.0,68.0,0.0,143.0,1666.0,57.9
NYJ,151.0,1070.0,69.9,366.0,0.0,5.0,2.0,84.0,0.0,141.0,1825.0,63.7
OAK,154.0,1442.0,95.2,450.0,0.0,17.0,3.0,69.0,0.0,132.0,1502.0,55.9
PHI,123.0,1619.0,105.3,644.0,4.0,17.0,10.0,76.0,0.0,116.0,902.0,31.7
PIT,122.0,1071.0,89.0,481.0,2.0,10.0,2.0,87.0,0.0,96.0,1155.0,80.9
SD,68.0,518.0,55.9,260.0,0.0,4.0,1.0,48.0,0.0,108.0,1267.0,54.6
SEA,155.0,1506.0,175.6,515.0,1.0,19.0,7.0,110.0,0.0,120.0,1443.0,76.4
SF,115.0,1030.0,116.4,372.0,0.0,13.0,0.0,90.0,0.0,143.0,1340.0,56.3
STL,67.0,983.0,130.1,507.0,3.0,13.0,7.0,39.0,0.0,67.0,566.0,16.8
TB,71.0,820.0,63.6,239.0,0.0,12.0,1.0,51.0,0.0,101.0,656.0,25.9
TEN,137.0,1233.0,78.3,368.0,0.0,8.0,3.0,68.0,0.0,168.0,1941.0,52.9
WAS,115.0,1020.0,74.7,350.0,1.0,10.0,2.0,83.0,0.0,133.0,1551.0,60.4

In [165]:
puntTotals = teamTotals[["#PuntYds", "#PuntNetYds", "#PuntLng", "#PuntAvg", "#PuntNetAvg", 
                        "#PuntBlk", "#PuntOOB", "#PuntDown", "#PuntIn20", "#PuntIn20Pct", 
                        "#PuntTB", "#PuntTBPct", "#PuntFC"]]
puntTotals

,#PuntYds,#PuntNetYds,#PuntLng,#PuntAvg,#PuntNetAvg,#PuntBlk,#PuntOOB,#PuntDown,#PuntIn20,#PuntIn20Pct,#PuntTB,#PuntTBPct,#PuntFC
#Team Abbr.,,,,,,,,,,,,,
ARI,13644.0,11957.0,1331.0,439.9,394.4,2.0,0.0,39.0,107.0,258.4,22.0,44.8,106.0
ATL,10591.0,9425.0,1231.0,305.1,272.5,1.0,0.0,16.0,91.0,241.7,12.0,29.6,94.0
BAL,11396.0,10332.0,336.0,240.2,208.3,2.0,0.0,38.0,101.0,170.0,17.0,29.2,58.0
BUF,12649.0,11528.0,1131.0,225.6,209.1,0.0,0.0,38.0,82.0,164.3,19.0,42.8,67.0
CAR,13417.0,11804.0,1483.0,402.1,356.8,2.0,0.0,43.0,103.0,286.7,24.0,108.2,87.0
CHI,12313.0,10727.0,1020.0,226.4,192.7,1.0,0.0,32.0,89.0,166.3,18.0,26.5,87.0
CIN,13859.0,12548.0,1174.0,278.3,252.8,2.0,0.0,46.0,106.0,208.7,23.0,33.2,77.0
CLE,14148.0,12320.0,262.0,186.1,161.6,1.0,0.0,42.0,93.0,123.8,17.0,21.8,77.0
DAL,7403.0,6965.0,476.0,284.1,275.0,1.0,0.0,26.0,75.0,307.9,13.0,76.0,64.0
DEN,13968.0,12725.0,1299.0,336.5,314.4,1.0,0.0,51.0,100.0,293.0,18.0,123.6,87.0
DET,12563.0,11311.0,1346.0,406.1,382.4,0.0,0.0,35.0,98.0,284.7,17.0,33.5,85.0
GB,10933.0,10024.0,1111.0,310.9,284.7,2.0,0.0,31.0,67.0,187.4,17.0,39.5,73.0
HOU,16620.0,14180.0,1264.0,319.2,269.4,0.0,0.0,32.0,119.0,201.1,31.0,145.8,80.0
IND,12605.0,11552.0,1271.0,238.8,216.6,0.0,0.0,40.0,93.0,153.5,24.0,61.5,88.0
JAX,15029.0,13294.0,1225.0,225.4,200.5,3.0,0.0,35.0,107.0,183.6,31.0,40.4,93.0
KC,12502.0,11701.0,1257.0,313.7,292.1,0.0,0.0,42.0,127.0,253.3,25.0,56.1,96.0
LA,6785.0,6460.0,211.0,140.1,134.2,0.0,0.0,20.0,74.0,198.9,5.0,9.4,55.0
LAC,3356.0,3007.0,69.0,48.6,43.6,0.0,0.0,6.0,25.0,36.2,9.0,13.0,6.0
MIA,13780.0,12137.0,1093.0,237.0,209.5,0.0,0.0,43.0,100.0,135.9,23.0,79.2,73.0
MIN,11987.0,11080.0,1153.0,245.5,228.7,1.0,0.0,37.0,108.0,205.4,16.0,49.3,105.0
NE,12668.0,11596.0,1432.0,355.9,326.2,1.0,0.0,46.0,102.0,301.2,20.0,62.1,75.0
NO,10166.0,9236.0,1122.0,285.1,260.4,0.0,0.0,31.0,81.0,207.4,19.0,73.7,58.0
NYG,14644.0,12978.0,1139.0,220.9,192.8,1.0,0.0,67.0,107.0,175.6,29.0,36.3,77.0
NYJ,13053.0,11228.0,1127.0,223.3,188.7,3.0,0.0,36.0,98.0,139.0,21.0,30.7,83.0
OAK,14848.0,13346.0,1148.0,236.3,214.5,1.0,0.0,65.0,115.0,174.8,23.0,43.4,83.0
PHI,12656.0,11754.0,1108.0,224.8,211.6,2.0,0.0,49.0,103.0,214.6,27.0,52.9,80.0
PIT,10696.0,9541.0,1301.0,337.5,308.6,1.0,0.0,40.0,100.0,313.3,14.0,104.5,88.0
SD,8747.0,7480.0,1058.0,228.4,194.7,1.0,0.0,22.0,41.0,96.9,14.0,33.1,40.0
SEA,12887.0,11444.0,1331.0,304.8,276.9,1.0,0.0,41.0,114.0,299.9,22.0,34.3,96.0
SF,13848.0,12508.0,1134.0,228.1,191.7,1.0,0.0,30.0,97.0,130.0,17.0,22.4,108.0
STL,7582.0,7016.0,992.0,138.9,131.8,1.0,0.0,26.0,67.0,184.5,11.0,14.0,53.0
TB,10916.0,10260.0,959.0,173.5,163.1,1.0,0.0,34.0,90.0,142.4,16.0,26.3,92.0
TEN,14286.0,12345.0,1180.0,236.4,206.8,1.0,0.0,23.0,110.0,190.4,17.0,23.6,88.0
WAS,12254.0,10703.0,1182.0,239.4,209.0,2.0,0.0,38.0,90.0,194.6,24.0,38.4,57.0

In [164]:
krTotals = teamTotals[["#KrRet", "#KrYds", "#KrAvg", "#KrLng","#KrTD", 
                        "#Kr20Plus", "#Kr40Plus", "#KrFC", "#KrFum","#KoRet", "#KoRetYds", 
                        "#KoRetAvgYds", "#KoTD", "#KoOS", "#KoOSR"]]
krTotals.head()

,#KrRet,#KrYds,#KrAvg,#KrLng,#KrTD,#Kr20Plus,#Kr40Plus,#KrFC,#KrFum,#KoRet,#KoRetYds,#KoRetAvgYds,#KoTD,#KoOS,#KoOSR
#Team Abbr.,,,,,,,,,,,,,,,
ARI,122.0,2732.0,385.1,856.0,1.0,69.0,7.0,0.0,0.0,150.0,3870.0,126.5,0.0,0.0,0.0
ATL,146.0,3414.0,277.4,898.0,0.0,90.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BAL,129.0,3386.0,398.4,720.0,2.0,93.0,11.0,0.0,0.0,100.0,2191.0,114.2,0.0,0.0,0.0
BUF,153.0,3272.0,472.4,984.0,1.0,85.0,4.0,0.0,0.0,136.0,3017.0,154.5,0.0,0.0,0.0
CAR,130.0,2971.0,519.8,1119.0,1.0,77.0,7.0,0.0,0.0,93.0,2374.0,157.3,0.0,0.0,0.0

In [161]:
kickOFFtotals = teamTotals[["#KoPct", "#Kickoffs", "#KoYds",
                        "#KoOOB", '#KoAvg', "#KoTB"]]
kickOFFtotals.head()

             #KoPct  #Kickoffs   #KoYds  #KoOOB  #KoAvg  #KoTB
#Team Abbr.
ARI             0.0      336.0  21937.0     0.0   456.6  186.0
ATL             0.0        0.0      0.0     0.0     0.0    0.0
BAL             0.0      335.0  21714.0     0.0   325.1  235.0
BUF             0.0      301.0  19255.0     0.0   507.5  165.0
CAR             0.0      378.0  24646.0     0.0   458.6  285.0

In [153]:
blockTotals = teamTotals[["#KB", "#FgBlk", "#XpBlk", "#PuntBlk"]]
blockTotals.head()

              #KB  #FgBlk  #XpBlk  #PuntBlk
#Team Abbr.
ARI           5.0     3.0     3.0       2.0
ATL           5.0     5.0     0.0       1.0
BAL          10.0     3.0     0.0       2.0
BUF           1.0     1.0     1.0       0.0
CAR           4.0     5.0     4.0       2.0

In [156]:
fg_xpTotals = teamTotals[["#FgMade", "#FgAtt","#FgPct", "#FgMade1_19", "#FgAtt1_19", "#Fg1_19Pct",
                          "#FgMade20_29", "#FgAtt20_29", "#Fg20_29Pct", "#FgMade30_39", "#FgAtt30_39",
                          "#Fg30_39Pct","#FgMade40_49", "#FgAtt40_49", "#Fg40_49Pct", "#FgMade50Plus", 
                          "#FgAtt50Plus", "#Fg50PlusPct", "#FgLng", "#XpMade", "#XpAtt", 
                          "#XpPct", "#FgAndXpPts",]]
fg_xpTotals.head()

,#FgMade,#FgAtt,#FgPct,#FgMade1_19,#FgAtt1_19,#Fg1_19Pct,#FgMade20_29,#FgAtt20_29,#Fg20_29Pct,#FgMade30_39,...,#FgAtt40_49,#Fg40_49Pct,#FgMade50Plus,#FgAtt50Plus,#Fg50PlusPct,#FgLng,#XpMade,#XpAtt,#XpPct,#FgAndXpPts
#Team Abbr.,,,,,,,,,,,,,,,,,,,,,
ARI,112.0,134.0,433.2,3.0,3.0,300.0,30.0,31.0,483.3,38.0,...,39.0,328.5,9.0,16.0,196.7,783.0,147.0,159.0,571.4,483.0
ATL,130.0,147.0,632.1,2.0,2.0,200.0,37.0,37.0,700.0,31.0,...,41.0,398.5,26.0,31.0,445.0,813.0,181.0,183.0,691.1,571.0
BAL,138.0,154.0,457.1,0.0,0.0,0.0,33.0,33.0,500.0,41.0,...,43.0,475.5,24.0,36.0,367.7,298.0,141.0,141.0,500.0,555.0
BUF,106.0,124.0,438.6,1.0,1.0,100.0,28.0,28.0,400.0,35.0,...,34.0,297.2,17.0,24.0,262.8,870.0,131.0,143.0,370.5,449.0
CAR,129.0,152.0,579.0,1.0,1.0,100.0,32.0,33.0,566.7,40.0,...,60.0,455.3,7.0,14.0,243.3,1006.0,167.0,176.0,678.0,554.0

In [155]:
puntTotals = teamTotals[["#Punts", "#PuntYds", "#PuntNetYds", "#PuntLng", "#PuntAvg", "#PuntNetAvg", 
                         "#PuntOOB", "#PuntDown", "#PuntIn20", "#PuntIn20Pct", "#PuntTB", 
                         "#PuntTBPct", "#PuntFC", "#PuntRet", "#PuntRetYds", "#PuntRetAvg"]]
puntTotals.head()

,#Punts,#PuntYds,#PuntNetYds,#PuntLng,#PuntAvg,#PuntNetAvg,#PuntOOB,#PuntDown,#PuntIn20,#PuntIn20Pct,#PuntTB,#PuntTBPct,#PuntFC,#PuntRet,#PuntRetYds,#PuntRetAvg
#Team Abbr.,,,,,,,,,,,,,,,,
ARI,309.0,13644.0,11957.0,1331.0,439.9,394.4,0.0,39.0,107.0,258.4,22.0,44.8,106.0,139.0,1687.0,94.4
ATL,230.0,10591.0,9425.0,1231.0,305.1,272.5,0.0,16.0,91.0,241.7,12.0,29.6,94.0,106.0,1166.0,70.4
BAL,241.0,11396.0,10332.0,336.0,240.2,208.3,0.0,38.0,101.0,170.0,17.0,29.2,58.0,118.0,1064.0,50.5
BUF,280.0,12649.0,11528.0,1131.0,225.6,209.1,0.0,38.0,82.0,164.3,19.0,42.8,67.0,146.0,1121.0,30.4
CAR,295.0,13417.0,11804.0,1483.0,402.1,356.8,0.0,43.0,103.0,286.7,24.0,108.2,87.0,136.0,1613.0,116.5

In [167]:
sptTurn = teamTotals[["#KB", "#KrFum", "#PrFum", "#FgBlk", "#XpBlk", "#PuntBlk"]]
sptTurn.head()

              #KB  #KrFum  #PrFum  #FgBlk  #XpBlk  #PuntBlk
#Team Abbr.
ARI           5.0     0.0     0.0     3.0     3.0       2.0
ATL           5.0     0.0     0.0     5.0     0.0       1.0
BAL          10.0     0.0     0.0     3.0     0.0       2.0
BUF           1.0     0.0     0.0     1.0     1.0       0.0
CAR           4.0     0.0     0.0     5.0     4.0       2.0

In [168]:
sptScores = teamTotals[["#KrTD", "#PrTD", "#FgMade", "#XpMade", "#FgAndXpPts", "#KoTD"]]
sptScores.head()

             #KrTD  #PrTD  #FgMade  #XpMade  #FgAndXpPts  #KoTD
#Team Abbr.
ARI            1.0    1.0    112.0    147.0        483.0    0.0
ATL            0.0    1.0    130.0    181.0        571.0    0.0
BAL            2.0    2.0    138.0    141.0        555.0    0.0
BUF            1.0    1.0    106.0    131.0        449.0    0.0
CAR            1.0    2.0    129.0    167.0        554.0    0.0

In [80]:
#Merge 8 CSV into 1 combined
# cumStats_combinedCSV= pd.concat([pd.read_csv])
# root = "C:.Users/Michael Diaz/Desktop/GitHub RBDS/Rutgers_Projects/RDSB_Sports/"
# path = os.path.join(root, "Cumulative Stats")
# # for path, csv, subdirs, files in os.walk(root):
# #     for name in files:
# #         print os.path.join(path, name)
# # cumStats = glob.glob("Cumulative Stats/*.csv")

# #Append all files to have dates

# # for file in cumStats:
# #     convert_DF = cumStats.insert(0, "Season")
# #     convert_DF.insert(2, "Season", len(rows))

# #     convert_DF.to_csv(cumStats.csv)
# #Loop to Combine ALl DF
# cumStats_DF = []
# for filename in sorted(cumStats):
#     cumStats_DF.append(pd.read_csv(filename))
# fullStats_DF = pd.concat(cumStats_DF, join="inner")

# fullStats_DF.to_csv("Cumulative_Stats_Combined.csv")
# fullStats_DF
# # print(cumStats)

,Unnamed: 0,Season,#Player ID,#LastName,#FirstName,#Jersey Num,#Position,#Height,#Weight,#Birth Date,...,#PuntDown,#PuntIn20,#PuntIn20Pct,#PuntTB,#PuntTBPct,#PuntFC,#PuntRet,#PuntRetYds,#PuntRetAvg,#GamesStarted
0,0,2014-2015 Regular,7350,Abdullah,Husain,39.0,DB,"6'0""",204.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,1,2014-2015 Regular,6899,Abdul-Quddus,Isa,42.0,DB,"6'1""",201.0,1989-08-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,2,2014-2015 Regular,7861,Aboushi,Oday,75.0,G,"6'5""",315.0,1991-06-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,3,2014-2015 Regular,8062,Acho,Emmanuel,51.0,LB,"6'2""",240.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,4,2014-2015 Regular,6430,Acho,Sam,49.0,OLB,"6'3""",257.0,1988-09-06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
5,5,2014-2015 Regular,8459,Acosta,Corey,25.0,K,"6'0""",190.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,6,2014-2015 Regular,6924,Adams,Davante,17.0,WR,"6'1""",215.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
7,7,2014-2015 Regular,7039,Adams,Jeff,70.0,OT,"6'7""",305.0,1989-09-06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
8,8,2014-2015 Regular,8134,Adams,Mike,76.0,OT,"6'7""",323.0,1990-03-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
9,9,2014-2015 Regular,7170,Adams,Mike,29.0,SS,"5'11""",205.0,1981-03-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10,10,2014-2015 Regular,6094,Adams,Phillip,20.0,DB,"5'11""",195.0,1988-07-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
11,11,2014-2015 Regular,8271,Addae,Jahleel,37.0,SS,"5'10""",195.0,1990-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
12,12,2014-2015 Regular,6335,Addison,Mario,97.0,DE,"6'3""",260.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13,13,2014-2015 Regular,6654,Agnew,Ray,48.0,RB,"5'10""",245.0,1991-02-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
14,14,2014-2015 Regular,8842,Aiken,Danny,57.0,LS,"6'4""",255.0,1988-08-28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
15,15,2014-2015 Regular,6125,Aiken,Kamar,11.0,WR,"6'2""",216.0,1989-05-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
16,16,2014-2015 Regular,7437,Aikens,Walt,35.0,CB,"6'1""",208.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
17,17,2014-2015 Regular,8020,Ajirotutu,Seyi,16.0,WR,"6'3""",215.0,1987-06-12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
18,18,2014-2015 Regular,6082,Akunne,Derek,7.0,LB,"6'0""",242.0,1993-08-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
19,19,2014-2015 Regular,7406,Albert,Branden,71.0,OT,"6'5""",320.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
20,20,2014-2015 Regular,7331,Alexander,D.J.,4.0,LB,"6'2""",233.0,1991-09-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
21,21,2014-2015 Regular,6336,Alexander,Frank,90.0,DE,"6'4""",270.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
22,22,2014-2015 Regular,5988,Alexander,Lorenzo,97.0,LB,"6'1""",244.0,1983-05-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
23,23,2014-2015 Regular,8536,Alexander,Maurice,31.0,FS,"6'1""",220.0,1991-02-16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
24,24,2014-2015 Regular,6095,Alford,Robert,23.0,CB,"5'10""",186.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
25,25,2014-2015 Regular,7905,Allen,Antonio,39.0,DB,"6'1""",210.0,1988-09-23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
26,26,2014-2015 Regular,8058,Allen,Beau,94.0,DT,"6'2""",333.0,1991-11-14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
27,27,2014-2015 Regular,8167,Allen,Cortez,28.0,CB,"6'1""",196.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
28,28,2014-2015 Regular,7111,Allen,Dwayne,83.0,TE,"6'3""",265.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
29,29,2014-2015 Regular,6417,Allen,Jared,69.0,DE,"6'6""",255.0,1982-04-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2582,2582,2018 Playoff,8719,Wreh-Wilson,Blidi,33.0,DB,"6'1""",198.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2583,2583,2018 Playoff,6878,Wright,Gabe,77.0,DT,"6'3""",305.0,1992-04-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2584,2584,2018 Playoff,6485,Wright,James,13.0,WR,"6'0""",203.0,1991-12-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2585,2585,2018 Playoff,7480,Wright,Jarius,17.0,WR,"5'10""",191.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2586,2586,2018 Playoff,8663,Wright,Kendall,13.0,WR,"5'10""",185.0,1989-11-12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2587,2587,2018 Playoff,8351,Wright,K.J.,50.0,LB,"6'4""",246.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2588,2588,2018 Playoff,8633,Wright,Major,31.0,SS,"5'11""",204.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2589,2589,2018 Playoff,9835,Wright,Scooby,58.0,ILB,"6'0""",240.0,1994-08-28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2590,2590,2018 Playoff,8449,Wright,Shareece,20.0,DB,"5'11""",184.0,1987-04-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2591,2591,2018 Playoff,8574,Wright,Timothy,83.0,TE,"6'4""",220.0,1990-04-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2592,2592,2018 Playoff,6612,Wynn,Dylan,97.0,DT,"6'2""",283.0,1993-06-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2593,2593,2018 Playoff,7787,Wynn,Kerry,72.0,DE,"6'5""",264.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2594,2594,2018 Playoff,6577,Wynn,Shane,14.0,WR,"5'6""",167.0,1992-11-15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2595,2595,2018 Playoff,6147,Yanda,Marshal,73.0,G,"6'3""",305.0,1984-09-15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2596,2596,2018 Playoff,7492,Yankey,David,61.0,G,"6'6""",315.0,1992-01-18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2597,2597,2018 Playoff,12792,Yarbrough,Eddie,75.0,DE,"6'3""",259.0,1993-04-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2598,2598,2018 Playoff,6026,Yates,T.J.,9.0,QB,"6'4""",217.0,1987-05-28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2599,2599,2018 Playoff,7189,Yeldon,T.J.,24.0,RB,"6'1""",226.0,1993-10-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2600,2600,2018 Playoff,6365,Young,Lou,22.0,DB,"6'1""",205.0,1991-10-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2601,2601,2018 Playoff,7223,Young,Sam,79.0,OT,"6'8""",306.0,1987-06-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2602,2602,2018 Playoff,9762,Young,Tavon,43.0,CB,"5'9""",177.0,1994-03-14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2603,2603,2018 Playoff,6423,Young,Willie,97.0,DE,"6'4""",251.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2604,2604,2018 Playoff,13297,Zaruba,Adam,80.0,TE,"6'5""",265.0,1991-03-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2605,2605,2018 Playoff,6497,Zeitler,Kevin,70.0,G,"6'4""",315.0,1990-03-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2606,2606,2018 Playoff,6831,Zenner,Zach,34.0,RB,"5'11""",223.0,1991-09-13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2607,2607,2018 Playoff,9867,Zettel,Anthony,69.0,DT,"6'4""",271.0,1992-08-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2608,2608,2018 Playoff,13268,Zimmer,Justin,92.0,DT,"6'3""",292.0,1992-10-23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2609,2609,2018 Playoff,7344,Zombo,Frank,51.0,LB,"6'3""",254.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2610,2610,2018 Playoff,8544,Zuerlein,Greg,4.0,K,"6'0""",196.0,1987-12-27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2611,2611,2018 Playoff,6148,Zuttah,Jeremy,53.0,C,"6'4""",300.0,1986-06-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [ ]:
#Merge 8 CSV into 1 combined
# cumStats_combinedCSV= pd.concat([pd.read_csv])
# root = "C:.Users/Michael Diaz/Desktop/GitHub RBDS/Rutgers_Projects/RDSB_Sports/"
# path = os.path.join(root, "Cumulative Stats")
# for path, csv, subdirs, files in os.walk(root):
#     for name in files:
#         print os.path.join(path, name)
cumStats = glob.glob("Cumulative Stats/*.csv")

#Append all files to have dates

# for file in cumStats:
#     convert_DF = cumStats.insert(0, "Season")
#     convert_DF.insert(2, "Season", len(rows))

#     convert_DF.to_csv(cumStats.csv)
#Loop to Combine ALl DF
cumStats_DF = []
for filename in sorted(cumStats):
    cumStats_DF.append(pd.read_csv(filename))
fullStats_DF = pd.concat(cumStats_DF, join="inner")

fullStats_DF.to_csv("Cumulative_Stats_Combined.csv")
fullStats_DF
# print(cumStats)