# Objectives
## Research Questions to Answer: 
### 1. What are the final rankings and scores for the season?
### 2. What is the most ideal candidate for current players?
### 3. Which statistics actually impact performance or outcome of games?
####      a. How do you value one position vs. another in fantasy?
####      b. Does the volume the yards thrown or ran count for an ideal candidate?
### 4. Potential Revenue based on contracts (and social media)

In [38]:
#Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

In [22]:
NFL_data = "box_scores.csv"
NFL_data = pd.read_csv(NFL_data)
NFL_data.head(1)

,date,visitor,home,visitor_score,home_score,visitor_first_downs,visitor_rushing_first_downs,visitor_passing_first_downs,visitor_penalties,visitor_net_yards,...,home_kick_return_splits,home_int_return_splits,home_penalty_splits,home_fumble_splits,home_field_goals,home_third_down_splits,home_fourth_down_splits,home_total_plays,home_avg_gain,home_time_of_possession
0,"September 7, 2014",Cleveland,Pittsburgh,27,30,23,9,11,3,389,...,2-29,0-0,11-96,1-0,3-3,4-12-33%,1-1-100%,67,7.5,32:27

In [23]:
team_scores = NFL_data[["date","visitor","home","visitor_score","home_score"]]
team_scores.head(1)

                date    visitor        home  visitor_score  home_score
0  September 7, 2014  Cleveland  Pittsburgh             27          30

In [24]:
NFL_games = "nfl_games.csv"
NFL_games = pd.read_csv(NFL_games)
NFL_date_games = NFL_games.set_index("date")

NFL_date_games = NFL_date_games["2014-09-04":]

In [25]:
NFL_date_games = NFL_date_games[["season","team1","team2","score1","score2"]]
nfl_scores = NFL_date_games
nfl_scores.head()

            season team1 team2  score1  score2
date
2014-09-04    2014   SEA    GB      36      16
2014-09-07    2014   PHI   JAX      34      17
2014-09-07    2014   PIT   CLE      30      27
2014-09-07    2014   BAL   CIN      16      23
2014-09-07    2014    TB   CAR      14      20

In [26]:
team1_scores = nfl_scores.groupby("team1").sum()["score1"]
team2_scores = nfl_scores.groupby("team2").sum()["score2"]

team1_scores_df = pd.DataFrame(team1_scores)
team2_scores_df = pd.DataFrame(team2_scores)

In [27]:
#Scores from 2014 to 2017
nfl_team_scores = pd.concat([team1_scores_df, team2_scores_df], axis=1)
nfl_team_scores["Total Points from 2014 to 2017"] = nfl_team_scores["score1"] + nfl_team_scores["score2"]
del nfl_team_scores["score1"]
del nfl_team_scores["score2"]
nfl_team_scores.head()

     Total Points from 2014 to 2017
ARI                            1274
ATL                            1368
BAL                            1141
BUF                            1121
CAR                            1342

In [28]:
# Obtained all scores for season, including full season, called DataFrames on all.

nfl_season_2014 = NFL_date_games["2014-09-04":"2015-02-01"]
scores_2014_team1 = nfl_season_2014.groupby("team1").sum()["score1"]
scores_2014_team2 = nfl_season_2014.groupby("team2").sum()["score2"]
scores_2014_df1 = pd.DataFrame(scores_2014_team1)
scores_2014_df2 = pd.DataFrame(scores_2014_team2)
scores_2014 = pd.concat([scores_2014_df1, scores_2014_df2], axis = 1)
scores_2014["Total Points for 2014"] = scores_2014["score1"] + scores_2014["score2"]
del scores_2014["score1"]
del scores_2014["score2"]
scores_2014.index.name = "Team"

nfl_season_2015 = NFL_date_games["2015-09-10":"2016-02-07"]
scores_2015_team1 = nfl_season_2015.groupby("team1").sum()["score1"]
scores_2015_team2 = nfl_season_2015.groupby("team2").sum()["score2"]
scores_2015_df1 = pd.DataFrame(scores_2015_team1)
scores_2015_df2 = pd.DataFrame(scores_2015_team2)
scores_2015 = pd.concat([scores_2015_df1, scores_2015_df2], axis = 1)
scores_2015["Total Points for 2015"] = scores_2015["score1"] + scores_2015["score2"]
del scores_2015["score1"]
del scores_2015["score2"]
scores_2015.index.name = "Team"

nfl_season_2016 = NFL_date_games["2016-09-08":"2017-02-05"]
scores_2016_team1 = nfl_season_2016.groupby("team1").sum()["score1"]
scores_2016_team2 = nfl_season_2016.groupby("team2").sum()["score2"]
scores_2016_df1 = pd.DataFrame(scores_2016_team1)
scores_2016_df2 = pd.DataFrame(scores_2016_team2)
scores_2016 = pd.concat([scores_2016_df1, scores_2016_df2], axis = 1)
scores_2016["Total Points for 2016"] = scores_2016["score1"] + scores_2016["score2"]
del scores_2016["score1"]
del scores_2016["score2"]
scores_2016.index.name = "Team"

nfl_team_scores.head()
scores_2014.head()
scores_2015.head()
scores_2016.head()

      Total Points for 2016
Team
ARI                     418
ATL                     648
BAL                     343
BUF                     399
CAR                     369

In [29]:
#Getting final row for sums for each DF for question 1

nfl_team_scores_sum = nfl_team_scores.loc['Total', 'Sum of Point']= nfl_team_scores['Total Points from 2014 to 2017'].sum()
scores_2014_sum = scores_2014.loc['Total', 'Sum of Point']= scores_2014['Total Points for 2014'].sum()
scores_2015_sum = scores_2015.loc['Total', 'Sum of Point']= scores_2015['Total Points for 2015'].sum()
scores_2016_sum = scores_2016.loc['Total', 'Sum of Point']= scores_2016['Total Points for 2016'].sum()

In [30]:
sum_all = nfl_team_scores["Total Points from 2014 to 2017"].sum()
sum_all

36438.0

### Player Stats from Kaggle

In [44]:
with open('games_1512362753.8735218.json') as data_file:    
    data = json.load(data_file)
    
# 1st data frame shows individual stats
df1 = pd.DataFrame(data)

with open("profiles_1512362725.022629.json") as data_file2:
    data2 = json.load(data_file2)
    
# 2nd data frame shows personal/home information about player
#df2 = pd.DataFrame(data2)

In [51]:
# Combine DFs

### Make dataframe with last row of totals. Create plots from that

In [32]:
x_axis = np.arange(len(nfl_team_scores))
tick_locations = [value + 0.4 for value in x_axis]

In [37]:
plt.figure(figsize=(20,3))
plt.bar(x_axis, nfl_team_scores, color='r', alpha=0.5, align="edge")
plt.xticks(tick_locations, nfl_team_scores["Total Points from 2014 to 2017"], rotation="vertical")